<div *ngIf="person" class="col-12">
  <h2>{{ person.firstName +' '+ person.secondName | uppercase }} Details</h2>
  <div class="row">
    <div class="col-12">
      <span>id: </span> {{person.id}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span>createdAt: </span> {{person.createdAt}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>firstName:
        <input [(ngModel)]="person.firstName" placeholder="firstName"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>secondName:
        <input [(ngModel)]="person.secondName" placeholder="secondName"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>phone:
        <input [(ngModel)]="person.phone" placeholder="phone"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>address:
        <input [(ngModel)]="person.address" placeholder="address"/>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <button *ngIf="person" (click)="save()" class="btn btn-primary"  style="margin-left: auto;">save</button>
  <button (click)="goBack()" class="btn btn-primary" style="margin-left: 5px;">go back</button>
</div>
