<div class="container">
  <div class="row">
    <h2>My contacts</h2>
    <button (click)="goCreate()" class="btn btn-primary" style="margin-left: auto">Add contact</button>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th class="hide">id</th>
        <th>firstName</th>
        <th>secondName</th>
        <th>phone</th>
        <th>address</th>
        <th>createdAt</th>
        <th>function</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let person of persons" class="detail-click"
           [class.selected]="person === selectedPerson" (click)="onSelect(person)">
        <td class="hide">{{person.id}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.secondName}}</td>
        <td>{{person.phone | phonebook}}</td>
        <td>{{person.address}}</td>
        <td>{{person.createdAt}}</td>
        <td class="detail-icon">
          <a routerLink="/phonebook/view/{{person.id}}" class="view-detail">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a routerLink="/phonebook/edit/{{person.id}}" class="edit-detail">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a (click)="deleteContacts(person)" class="delete-detail">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
