<div class="container">
  <h2>My contacts</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="hide">id</th>
        <th>firstName</th>
        <th>secondName</th>
        <th>phone</th>
        <th>adress</th>
        <th>createAt</th>
        <th>function</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let person of persons" class="detail-click"
           [class.selected]="person === selectedPerson" (click)="onSelect(person)">
        <td class="hide">{{person.id}}</td>
        <td>{{person.firstName}}</td>
        <td>{{person.secondName}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.adress}}</td>
        <td>{{person.createAt | date}}</td>
        <td class="detail-icon">
          <a routerLink="/phonebook/view/{{person.id}}" class="view-detail">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          <a href="#" class="edit-detail">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </a>
          <a href="#" class="delete-detail">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
