<div class="col-12">
  <h2>Create New Contact</h2>
  <div class="row">
    <div class="col-12">
      <label>firstName:
        <input [(ngModel)]="item.firstName"  placeholder="firstName"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>secondName:
        <input [(ngModel)]="item.secondName" placeholder="secondName"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>phone:
        <input [(ngModel)]="item.phone" placeholder="phone"/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>adress:
        <input [(ngModel)]="item.adress" placeholder="adress"/>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <button (click)="add()" class="btn btn-primary"  style="margin-left: auto;">add</button>
  <button (click)="goBack()" class="btn btn-primary" style="margin-left: 5px;">go back</button>
</div>
